# Titanic

In [4]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/dataworkshop/webinar-titanic/master/input/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
feats = ["Pclass"]
X = df[feats].values
y = df["Survived"].values
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size = .3)
X_train.shape, X_test.shape

((623, 1), (268, 1))

In [13]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.7126865671641791

In [16]:
model = DecisionTreeClassifier(max_depth=50)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.7126865671641791

In [17]:
model = RandomForestClassifier(max_depth=30,
                              n_estimators=50)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.7126865671641791

In [18]:
df["Sex"].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [19]:
df["Sex_cat"] = df["Sex"].factorize()[0]

In [25]:
feats2 = ["Pclass", "Sex_cat", "Fare"]
X2 = df[feats].values
y2 = df["Survived"].values
X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, 
                                                    test_size = .3)

In [26]:
model2 = DecisionTreeClassifier(max_depth=10)
model2.fit(X_train2, y_train2)
y_pred2 = model2.predict(X_test2)
accuracy_score(y_test2, y_pred2)

0.7835820895522388